In [5]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://mirrors.sonic.net/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xzf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark


import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"


import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [6]:
data = spark.read.csv('/customer_churn.csv',inferSchema=True, header=True)

In [7]:
data.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [8]:
data.describe().toPandas()

  summary          Names  ...                    Company                Churn
0   count            900  ...                        900                  900
1    mean           None  ...                       None  0.16666666666666666
2  stddev           None  ...                       None   0.3728852122772358
3     min     Aaron King  ...            Abbott-Thompson                    0
4     max  Zachary Walsh  ...  Zuniga, Clark and Shaffer                    1

[5 rows x 11 columns]

In [9]:
from pyspark.ml.feature import VectorAssembler

In [10]:
data.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [11]:
#Here we choose the columns that we think will be good for our prediction
assembler = VectorAssembler(inputCols=['Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites'],outputCol='features')
output = assembler.transform(data)

In [12]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=['Churn'], outputCols=['label'], strategy='mean')
imputer_model = imputer.fit(output)
output = imputer_model.transform(output)

In [13]:
output.show()

+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------------+-----+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|            features|label|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------------+-----+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|[42.0,11066.8,0.0...|    1|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|[41.0,11916.22,0....|    1|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|[38.0,12884.75,0....|    1|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|[42.0,8010.76,0.0...|    1|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|[37.0,9191.58,0.0...|    1|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|[48.0,10356.02,0....|    1|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|[44.0,11331.58,1....|    1|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|[32.0,9885.12,1.0...|    1|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|[43.0,14062.6,1.0...|    1|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|[40.0,8066.94,1.0...|    1|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|[30.0,11575.37,1....|    1|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|[45.0,8771.02,1.0...|    1|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|[45.0,8988.67,1.0...|    1|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|[40.0,8283.32,1.0...|    1|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|[41.0,6569.87,1.0...|    1|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|[38.0,10494.82,1....|    1|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|[45.0,8213.41,1.0...|    1|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|[43.0,11226.88,0....|    1|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|[53.0,5515.09,0.0...|    1|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|[46.0,8046.4,1.0,...|    1|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------------+-----+
only showing top 20 rows

In [14]:
final_data = output.select('features','churn')

In [15]:
#split the data for training(70%) and test(30%)
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [16]:
final_data.describe().show()
train_data.describe().show()
test_data.describe().show()

+-------+-------------------+
|summary|              churn|
+-------+-------------------+
|  count|                900|
|   mean|0.16666666666666666|
| stddev| 0.3728852122772358|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

+-------+-------------------+
|summary|              churn|
+-------+-------------------+
|  count|                634|
|   mean|0.17350157728706625|
| stddev| 0.3789793112070138|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

+-------+-------------------+
|summary|              churn|
+-------+-------------------+
|  count|                266|
|   mean|0.15037593984962405|
| stddev| 0.3581133077041032|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

In [17]:
from pyspark.ml.classification import LogisticRegression

In [18]:
lr_churn = LogisticRegression(labelCol='churn')

In [19]:
fitted_churn_model = lr_churn.fit(train_data)

In [20]:
training_sum = fitted_churn_model.summary

In [21]:
training_sum.predictions.describe().show()

+-------+-------------------+------------------+
|summary|              churn|        prediction|
+-------+-------------------+------------------+
|  count|                634|               634|
|   mean|0.17350157728706625|0.1309148264984227|
| stddev| 0.3789793112070138| 0.337573511742821|
|    min|                0.0|               0.0|
|    max|                1.0|               1.0|
+-------+-------------------+------------------+

In [22]:
#importing evaluators from library to check the stadistics of our model --> how well it is performing and its reliability
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [23]:
data_predicted = fitted_churn_model.evaluate(test_data)

In [24]:
data_predicted.predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|churn|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[22.0,11254.38,1....|    0|[4.74634237804022...|[0.99139135451688...|       0.0|
|[28.0,11245.38,0....|    0|[3.62601823165728...|[0.97406837491370...|       0.0|
|[29.0,5900.78,1.0...|    0|[4.47303463097700...|[0.98871614829884...|       0.0|
|[29.0,9378.24,0.0...|    0|[4.72281387801987...|[0.99118821034906...|       0.0|
|[29.0,10203.18,1....|    0|[3.90577075830038...|[0.98027160588186...|       0.0|
|[29.0,13240.01,1....|    0|[6.74188646148326...|[0.99882097350303...|       0.0|
|[29.0,13255.05,1....|    0|[4.11354707130418...|[0.98391333373758...|       0.0|
|[30.0,6744.87,0.0...|    0|[3.57170203559144...|[0.97266048612059...|       0.0|
|[30.0,7960.64,1.0...|    1|[3.29975238488172...|[0.96442031509593...|       0.0|
|[30.0,10744.14,1....|    1|[1.82247190999294...|[0.86086247235076...|       0.0|
|[32.0,7896.65,0.0...|    0|[3.46715055227626...|[0.96973851121812...|       0.0|
|[32.0,8617.98,1.0...|    1|[1.19420563292592...|[0.76749239437156...|       0.0|
|[32.0,9036.27,0.0...|    0|[-0.3420394526153...|[0.41531415486072...|       1.0|
|[32.0,9885.12,1.0...|    1|[1.90341743048843...|[0.87027782261999...|       0.0|
|[32.0,11715.72,0....|    0|[3.16995741843881...|[0.95968793725666...|       0.0|
|[32.0,12254.75,1....|    0|[2.54540396400374...|[0.92726414143363...|       0.0|
|[32.0,12403.6,0.0...|    0|[5.41679512192434...|[0.99557828056490...|       0.0|
|[32.0,12547.91,0....|    0|[0.18930289611203...|[0.54718489990167...|       0.0|
|[33.0,4711.89,0.0...|    0|[6.11974272386918...|[0.99780580343968...|       0.0|
|[33.0,7750.54,1.0...|    0|[4.56179409356099...|[0.98966462957622...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [25]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='churn')

In [27]:
#Test Area Under Roc (auc), which is good: approximately 75%
auc = evaluator.evaluate(data_predicted.predictions)
auc

0.7484513274336283